.toggle{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: auto;
    justify-content: center;
}
.toggle__heading{
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: center;
    max-width: 550px;
    margin-bottom: -50px;
    z-index: 999;
}



.card, .fullSize{
    width: 200px;
    height: 300px;
    margin: auto;
    background-color: red;
    opacity: 0.6;
}
.halfSize{
    width: 200px;
    height: 150px;
    background-color: green;
    margin: auto;
    margin-top: 150px;
    opacity: 0.6;
}
.toogle__heading > h3{
    font-size: 25x;
    font-weight: 400;
    line-height: 20px;
}

button{
    margin: auto;
    padding: 8px 25px;
    font-size: 16px;
    background: red;
    color: #fff;
    border: none;
    margin-top: 15px;
    width: fit-content;
}